.pd{
	text-align: center;
}
.row img{
	width: 50%;
	height: auto;
	margin-top: 40px;
}
.tensp{
	margin: 20px;
}
.menu a {
	color: black;
	text-decoration: none;
}
.menu li {
	list-style: none;
}
.menu li ul{
	display: none;
}
.menu li:hover ul {
	display: block;
}