.container{
	width: 700px;
	margin: 0 auto;
	border: 1px solid red;
	font-family: Tahoma;
	text-align: center;
}
.nhomnut{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.ddnut{
	width: 250px;
	background: red;
	color: white;
	padding: 15px 0;
	border-radius: 5px;
	font-size: 2-px;

}
.ccpadding{
	padding: 15px;
}
.nhan_login{
	padding: 20px 0;
	font-size: 40px;
	font-weight: bold;
}
.mot{
	font-size: 30px;
}