img{
	width: 50px;
	height: auto;
}
table{
	border-collapse: collapse;
	text-align: center;
}
table, th ,td {
	border: 1px solid black;
}
td{
	padding: 10px;
}
a{
	margin-left: 5px;
}
.container{
	width: 500px;
	margin: 0 auto;
}
button{
	margin: 10px;
}